# pycache
*/__pycache__/*
__pychache__/

# python artifacts
*.swp
*.pyc

# data/ directory
data/

# old/ directory
old/

# ref/ directory
ref/

# test/ directory
test/

# plot/ directory
plot/
plots/

# ntuple/ directory
ntuple/

# log files
*.log

# png files
*.png

# DST files
*.dst

# ROOT files
*.root

# Dump files
*dump*
dump.txt
*tes_dump*
src/tes*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
